/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';


button, .themed-button {
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    color: #000;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  
    &:hover {
      background-color: #e0e0e0;
      border-color: #c0c0c0;
    }
  
    &:active {
      background-color: #d0d0d0;
      border-color: #b0b0b0;
    }
  }
  